<ion-content>

  <h1>Estadísticas</h1>
  <h2>Tu progreso en hábitos y tareas</h2>

  <main>

    <div class="banner">
    <h3>Resumen de estadísticas</h3>
    <p>Aquí tienes un resumen de tu productividad</p>
    </div>

    <!-- RESUMEN -->

    <section id="resumen-general">

      <div class="stat-card">
        <span class="icono">✅</span>
        <span class="numero"> {{ habitosCompletados }}</span>
        <span class="texto">Hábitos completados</span>
      </div>

      <div class="stat-card">
        <span class="icono">📋</span>
        <span class="numero"> {{ tareasCompletadas }} </span>
      </div>

      <div class="stat-card">
        <span class="icono">🔥</span>
        <span class="numero"> {{ rachaTotal }}</span>
        <span class="texto">Días de racha</span>
      </div>

      <div class="stat-card">
        <span class="icono">📈</span>
        <span class="numero"> {{ productividad }}% </span>
        <span class="texto">Cumplimiento</span>
      </div>

    </section>

    <!-- ACTIVIDAD SEMANAL -->

    <h2>Actividad semanal</h2>

    <section id="actividad">

        <div
            class="dia"
            *ngFor="let dia of actividadSemanal">

            <span>{{ dia.dia }}</span>

             <span>{{ dia.cantidad }}</span>

         </div>

</section>

    <!-- PROGRESO -->

    <h2>Progreso general</h2>

    <section id="progreso">

      <div class="progreso-card">

        <span class="titulo">Hábitos</span>

      <div class="barra">

         <div
           class="relleno-habitos"
           [style.width.%]="progresoHabitos">
         </div>
      </div>

        <span class="porcentaje">{{ progresoHabitos }}% </span>

      </div>

      <div class="progreso-card">

        <span class="titulo">Tareas</span>

      <div
           class="relleno-tareas"
           [style.width.%]="progresoTareas">
      </div>

        <span class="porcentaje">{{ progresoTareas }}% </span>

      </div>

    </section>

  </main>

<h2>Historial de hábitos</h2>

<section class="historial">

  <div
    class="historial-item"
    *ngFor="let habit of habits">

    <span>
      {{ habit.name }}
    </span>

    <span>
      {{ habit.fechaCreacion | date:'dd/MM/yyyy' }}
    </span>

  </div>

</section>

<h2>Historial de tareas</h2>

<section class="historial">

  <div
    class="historial-item"
    *ngFor="let task of tasks">

    <span>
      {{ task.name }}
    </span>

    <span>
      {{ task.date | date:'dd/MM/yyyy' }}
    </span>

  </div>

</section>

<button
  class="btn-recordatorio"
  (click)="programarRecordatorio()">

  🔔 Activar recordatorio

</button>

  <app-bottom-navigation></app-bottom-navigation>

</ion-content>